doctype html
html
	head
		title Palette
		meta(charset="UTF-8")
		meta(name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, viewport-fit=cover")
		link(rel="stylesheet"
			href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
			integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf"
			crossorigin="anonymous")
		link(href="https://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet")

	body
		include ./partials/home.pug
		include ./partials/reset.pug
		include ./partials/credits.pug
		include ./partials/game.pug
		include ./partials/tutorial.pug
		include ./partials/control.pug
		include ./partials/final.pug
		script.
			let vh = window.innerHeight * 0.01;
			document.documentElement.style.setProperty('--vh', `${vh}px`);

			window.addEventListener('resize', () => {
				let vh = window.innerHeight * 0.01;
				document.documentElement.style.setProperty('--vh', `${vh}px`);
			});
		script.
			function getMobileOperatingSystem() {
				let userAgent = navigator.userAgent || navigator.vendor || window.opera;

				// Windows Phone must come first because its UA also contains "Android"
				if (/windows phone/i.test(userAgent)) {
					return "Windows Phone";
				}

				if (/android/i.test(userAgent)) {
					return "Android";
				}

				// iOS detection from: http://stackoverflow.com/a/9039885/177710
				if (/iPad|iPhone|iPod/.test(userAgent) && !window.MSStream) {
					return "iOS";
				}

				return "unknown";
			}
			isMobile = this.getMobileOperatingSystem();
			
			function openUrl(theUrl) {
				window.open(theUrl, '_blank', 'location=yes');
			}
			
	if (isMobile === 'Android' || isMobile === 'iOS')
		script(src="cordova.js")

